:root{
    --orange-color: #da722c;
    --light-orange-color: #f3985b;
    --dark-blue-color: #092736;
    --hover-blue-color: #1b3d4e;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color:#6f7dfb;
}
*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    overflow-x:hidden ;
}
.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.btn.dark{
    background: var(--dark-blue-color);
    transition: 0.2s ease-in-out;
}
.btn.dark:hover{
  background: var(--hover-blue-color);
}
.btn.light{
    background: var(--orange-color);
    transition: 0.2s ease-in-out;
}
.btn.light:hover{
  background: var(--light-orange-color);
}
.wrapper{
    padding: 0 116px;
}
header{
    background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
    height: 100vh;
}
nav.header{
    padding: 0 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: 100vw;
    width: 100%;
    top: 36px;
    z-index: 100;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
}
nav.scroll{
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  box-shadow: 5px 9px 36px var(--light-color);
  padding: 5px 116px;
  top: 0;
  width: 100%;
  max-width: 100vw;
}

nav .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color:#fff
}
nav ul{
    display: flex;
    gap: 60px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    transition: 0.3s ease-in-out;
}
nav ul li:hover:not(:last-of-type){
  padding: 16px 32px;
  border-radius: 24px;
  color: #fff;
  background-color: var(--hover-blue-color);
  font-weight: normal;
  font-size: 16px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px; 
    position: relative;
}
.hero-section .left{
  width: 457px;
}
.hero-section .left h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #fff;
}

.hero-section .left p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 30px;
}
.hero-section .right{
    align-self: flex-end;
}
.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}

.enrol{
    display: inline-flex;
    align-content: center;
    justify-content: center;
}
.enrol::before{
    background-image: url('./../images/PencilAlt.png');   
    display: inline-block;  
    content: '';
    width: 18px;
    height: 18px;
}
  .achievement-card{
   position: absolute;
   width: 200px;
  }
  .achievement-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
  }
  .achievement-card.student-enrolled{
    left: 49%;
    top: 270px;
  }
  .achievement-card.overall-rating{
    left: 47%;
    top: 470px;
    text-align: center;
  }
  .achievement-card  h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    text-align: center;
  }
  .achievement-card p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
  }
  .achievement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background:linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
    top: 8px;
    left: 8px;
    border-radius: 24px;
    z-index: 1;
  }

  .achievement-card .content div{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* Testimonial section */
  #section_1{
    position: relative;
  }
  #section_1::before{
    display: block;
    content: '';
    position: absolute;
    top: -44px;
    left: 203px;
    width: 28px;
    height: 546px;
    border-radius: 24px;
    background: var(--dark-blue-color);
    z-index: -10000;
  } 
  .testimonials-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 144px 0;
  }
  .testimonials-section .left{
    width: 442px;
  }
  .testimonials-section .right{
    width: 545px;
    margin-left: 25px;
  }
  .testimonial-card{
    border-radius: 24px;
    box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-wrap: wrap;
    column-gap: 106px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
  }
  .testimonial-card .content{
    width: 100%;
    background: var(--light-blue-color);
    border-radius: 24px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; 
    padding: 24px 32px;
  }
  
  .testimonials-section .left .top{
    margin-bottom: 50px;
  }
  .testimonials-section .left .bottom{
    position: relative;
    left: 35px;
  }
  .testimonials-section .left .bottom .content{
    background: var(--orange-color);
  }

  .testimonial-card .info h4{
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
  }
  .testimonial-card .info p{
     color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
 
  .testimonial-card img{
    width: 120px;
    display: inline-block;
    aspect-ratio: 1;
    position: relative;
    bottom: 24px;
  }
  .testimonials-section .right h2{
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
    margin-bottom: 16px;
  }
  .testimonials-section .right p{
    color: #023047;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
  }
  .testimonials-section .right a{
    padding: 16px 32px;
    display: inline-block;
    margin-top: 30px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
 
  /* courses section */
.courses-section{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
}
.courses-section .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.courses-section h2{
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
}
.course-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
    width: 100%;
}
.allCourses.large{
  margin-left: auto;
  margin-right: 0;
  margin-top: 40px;
}
.allCourses.small{
  display: none;
}
.course-card{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  padding: 0px 32px;
  background: #fff;
  border-radius: 24px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}
.course-card::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 536px;
    border-radius: 24px;
    background: var(--dark-blue-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.course-card img{
    height: 260px;
    width: 100%;
    object-fit:fill;
    position: relative;
    top: -4px;
}
.course-card .info{
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

.course-card .info h3{
   color:var(--dark-blue-color);
   font-family: 'Raleway', sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 900;
   line-height: 150%; 
   width: 80%;
}
.course-card .info .duration{
   color: var(--dark-blue-color);
  font-family: 'Raleway', sans-serif;
   font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.course-card .info .duration::before{
  background: url('./../images/Clock.png');
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
}


.app-section{
  padding: 100px 0;
}
.app-section h2{
   color: #023047;
   text-align: center;
   font-size: 60px;
   font-style: normal;
   font-weight: 900;
   line-height: 120%; 
   margin-bottom: 13px;
}
.app-section p{
  color: #023047;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
  margin-bottom: 45px;
}
.app-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.app-btn{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 310px;
  padding: 20px 31px;
  align-items: center;
  background: var(--dark-color);
  cursor: pointer;
}
.app-btn span{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal; 
  font-weight: 400;
  line-height: 200%; 
}
.app-btn img{
  width: 55.713px;
  height: 60px;
}

footer{
  background: var(--dark-color);
  padding: 70px 0;
}

.links-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links-container .links h3{
  color:var(--orange-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; 
  justify-self: flex-start;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
}
.links ul li:hover{
  opacity: 0.5;
}
.links ul{
  position: relative;
  left: 34px;
}
.links ul > li{
  list-style-type: none;
  display: block;
  width: fit-content;
  padding: 9px 0;
  transition: 0.3s ease-in-out;
}
.links ul form{
  width: 521px;
  height: 45px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  }
  .social{
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.social a img{
  width: 24px;
  display: inline-block;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 26px;
  }
  
.links ul form input{
  background-color: inherit;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 27px;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%; 
}
form button{
  outline: none;
  border: none;
  display: inline-block;
  width: 135px;
  height: 40px;
  background: var(--dark-blue-color);
  border-radius: 8px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; 
  margin: auto 0;
  margin-right: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  }
  form button:hover{
    background: var(--hover-blue-color);
  }
.links ul form input::placeholder{
  opacity: 0.5;
  }
.copyright{
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%; 
  padding-left: 116px;
  }
.icon{
  display: none;
}
.open_menu{
  padding-right: 20px;
  cursor: pointer;
}